
/*.sliderTrackContainer--desktop__home--slider-image-watch {
    width: 3000%;  
    height: 422%; 
    top: 168% 
}*/



/*.sliderTrackContainer--desktop__home--slider-card {
    display: flex;
    width: 1200px;
    height: 100px;
}*/
