.flexCol--desktop__header--col-bar{
   /* flex: 1 1 20% ; */
    text-align:center;
    white-space: nowrap;  
    margin: 0px; 
    padding: 0 2px 0 30px;
    margin-right: 10px;
}



.flexCol--desktop__header--col-bar1{
   /* flex: 1 1 20% ; */
    text-align: center;
    white-space: nowrap;  
    overflow: visible;  
    margin: 0px; 
    padding-right: 40px;
    

}

.flexRow--desktop__header--bar-fila{
    display: flex;
    flex-direction: row;
    margin: 10px 20px; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: nowrap; 
}

/*.flexCol--desktop__header--col-bar {
    flex: 1 1 20%;  Ajusta el ancho base de cada columna 
    text-align: center;
    white-space: nowrap;  Asegura que el texto no se envuelva 
    overflow: hidden;
    text-overflow: ellipsis; Muestra puntos suspensivos si el texto es demasiado largo 
    margin: 0px;
    width: auto;
}

.flexRow--desktop__header--bar-fila {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    justify-content: space-around;  Distribuye los elementos uniformemente 
    align-items: center;
}*/

